body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f7f7f7;
  }
  
  h1 {
    color: #e64a81;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #ccc;
  }
  p.small {
    font-size: 18px;
    color: #e78ab2;
  }

  #output {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #e62a85;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ee97d1;
  }
  
  strong {
    color: green;
  }
  